@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');


/* ****************** START: DESKTOP STYLES ****************** */
/* BODY / APPLIED TO MULTIPLE */
body{
  font-family: "Montserrat"!important;
  margin: auto;
}

.nav, footer p {
  text-align: center;
}

a:hover{
  color: #04b9b4;
}

#banner, footer, .projectTitle, .projectIMG {
  background-image: linear-gradient(to right, #00c0ff , #2ad8a6);
}

/* DISPLAY VIEWS */
#aboutPage, #stockAnalysis, #projectbckgrnd, #pdfEx, #pivotTable, #flexDash, #randomForest, #wildfireOne, #wildfireTwo, #youtube{
  display: none;
}

/* .flex, #work{
  display: flex;
} */

.flex{
  display: flex;
}

/* COLORS */
a, .navbar-toggler, ul li a, #featured h2, footer, button:hover, .projectTitle, h2{
  color: #fff;
}

.fa-chevron-left, .fa-chevron-right{
  color: #000;
}

/* FONT STYLES */
.projectTitle, .projectProg, .projectLib, .view{
  font-weight: 600;
}

/* ***** HOMEPAGE ***** */
/* NAVIGATION + LINKS */
#logo-small a{
  background: -webkit-linear-gradient(#00c0ff, #2ad8a6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight:500;
}

#navigation, h2, #banner{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#navigation, h2 {
    background: #000;
}

ul li a, .view, #banner p{
  font-size: 1.5em;
}

/* LOGO - TITLE - JUMBOTRON */
h1{
  font-weight:600;
  font-size: 5em;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

#banner {
  padding: 2em;
}

/* ***** ABOUT PAGE ***** */
#aboutPage p{
  font-size: 16px;
  width: 100%;
}

#aboutPage p, .projectSection p{
  margin-bottom: 0.5em;
}

#aboutPage br, #all{
  padding-bottom: 1em;
}

#aboutPage h1{
  font-size: 3em;
}

#aboutPage img{
  margin-top: 0.25em;
}

button, .card{
  background: none;
  border: none;
  font-size: 20px;
}

button:focus {
    outline: none;
}

/* ***** HOME PAGE: PROJECTS ***** */

/* FEATURED SECTION */
/* .featured {
  margin-top: -2em;
	border-bottom: 24.8em solid #000;
	border-right: 10em solid transparent;
	width: 40%;
  height: 100%;
  transform: scaleY(-1);
}
 h5{
   color: #0d9d81;
 }

#featured h2{
  margin-top: -12em;
  padding-left: 13em;
}

#featuredSection{
  margin-top: -2.1em;
  z-index: -1000;
  margin-left: -0.15em;
} */

/* CAROUSEL - ALL WORK SECTION */
.ml-5 {
    margin: auto!important;
    padding-top: 1em;
}

h2 {
    padding: 0.4em 2em;
    margin-top: -0.4em;
    font-weight: 600;
    font-size: 40px;
}

h3, h5{
  color: #0d9e82;
}

.carousel-width{
  width: 800px;
}

.sr-only{
  color: #000 !important;
}

.fa-chevron-left, .fa-chevron-right{
  font-size: 50px;
}

.fa-chevron-left{
  margin-left: -1.75em;
}

.fa-chevron-right{
  margin-right: -1.75em;
}

.carousel-control-prev, .carousel-control-next{
  width: 0 !important;
}

/* PROJECT (WHEN CLICKED) */
#stockAnalysis h1, #pdfEx h1, #pivotTable h1, #flexDash h1, #randomForest h1, #wildfireOne h1, #wildfireTwo h1, #youtube h1{
  font-size: 2.5em;
}

.images{
   border: 10px solid;
   border-image-source: linear-gradient(to right, #00c0ff , #2ad8a6);
  border-image-slice: 1;
}

.projectIMG{
  padding: 1em 1em 1em 7em;
  margin-left: -2em;
}

.projectProg, .projectLib, .view{
  color: #0cc4a1;
}

.projectTitle{
  padding: 0.35em;
}

.projectSection p{
  font-size: 16px !important;
}

.view:hover{
  text-decoration: none;
  color: #01c1fc;
}

.projectLink{
  text-align: right;
}

/* FOOTER  */
footer{
  padding: 0.05em;
  margin-top: 0.75em;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
}

footer p{
  font-size: 18px;
}

/* ****************** END: DESKTOP STYLES ****************** */

/* ***** DESKTOP - LARGE SCREENS ***** */
@media only screen and (min-width: 1700px) {
  /* ***** HOMEPAGE ***** */
  /* NAVIGATION + LINKS */
  #navigation a {
      font-size: 1.75em;
      padding: 0.2em 0.5em;
  }
   .location{
    font-size: 2.5em!important;
  }

  /* LOGO - TITLE - JUMBOTRON */
  h1{
    font-size: 7.5em;
  }

  #banner {
    padding: 1.5em;
  }

  #homepage img{
    width: 475px;
  }

  #aboutPage p{
    font-size: 1.15em;
  }

.images{
  width: 400px;
}

h3{
  font-size: 2em;
}

#carouselExampleControls{
  width: 1500px;
}

h5{
  font-size: 22px;
}

.projectSection p {
    font-size: 20px !important;
}

.view{
    font-size: 2em;
}
}
/* ***** DESKTOP - MEDIUM SCREENS ***** */
@media only screen and (max-width: 1699px) {
  /* ***** HOMEPAGE ***** */
  /* NAVIGATION + LINKS */
  #navigation a {
      font-size: 1.5em;
      padding: 0.1em 0.4em;
  }
   .location{
    font-size: 2em!important;
  }

  /* LOGO - TITLE - JUMBOTRON */
  h1{
    font-size: 5.5em;
  }

  #homepage img{
    width: 350px;
  }

  #aboutPage p{
    font-size: 1.15em;
  }

.images{
  width: 350px;
}

h3{
  font-size: 2em;
}

.ml-5 {
    padding-top: 0;
}

#carouselExampleControls{
  width: 1200px;
}

h5{
  font-size: 20px;
}

h2 {
    padding: 0.35em 2em;
    font-size: 30px;
}

.projectSection p {
    font-size: 20px !important;
}

.view{
    font-size: 2em;
}
}

/* ***** DESKTOP - STANDARD SCREENS ***** */
@media only screen and (max-width: 1399px) {
  /* ***** HOMEPAGE ***** */
  /* NAVIGATION + LINKS */
  #navigation a {
      font-size: 1.25em;
      padding: 0.1em 0.4em;
  }

  /* LOGO - TITLE - JUMBOTRON */
  h1{
    font-size: 4em;
  }

  #homepage img{
    width: 300px;
  }

  #aboutPage p{
    font-size: 1em;
  }

.images{
  width: 275px;
}

h3{
  font-size: 2em;
}

#carouselExampleControls{
  width: 1000px;
}

h5{
  font-size: 16px;
}

h2 {
  margin-top: -0.75em;
    font-size: 25px;
}

.projectSection p {
    font-size: 17px !important;
}

.view{
    font-size: 1.5em;
}
}

/* ***** TABLET - BIG SCREENS ***** */
@media only screen and (max-width: 1149px) {
  /* ***** HOMEPAGE ***** */
  /* NAVIGATION + LINKS */
  #navigation a {
      font-size: 1.25em;
      padding: 0.1em 0.4em;
  }

  /* LOGO - TITLE - JUMBOTRON */
  h1{
    font-size: 4em;
  }

  #homepage img{
    width: 300px;
  }

  #aboutPage p{
    font-size: 1em;
  }

.images{
  width: 275px;
}

h3{
  font-size: 2em;
}

#carouselExampleControls{
  display: none;
}

h5{
  font-size: 16px;
}

h2 {
  margin-top: -0.75em;
    font-size: 25px;
}

.projectSection p {
    font-size: 17px !important;
}

.view{
    font-size: 1.5em;
}
}

/* ***** TABLET - SMALL SCREENS ***** */

/* ***** MOBILE - BIG SCREENS ***** */
@media only screen and (max-width: 600px) {
.flex{
  display: block;
}

#work{
  display: none;
}

h1 {
    font-weight: 600;
    font-size: 3.75em;
}

}

/* ***** MOBILE - SMALL SCREENS ***** */
